<div class="body">
    <div class="splash">
        <div class="container">
            <h1>Playlists for everyone.</h1>

			<a href="#">Learn about Playlister</a>

        </div>
    </div>
    <div class="login">
        <a href="https://accounts.spotify.com/authorize?client_id=b1d1766310e141e29cfbec5d14519457&redirect_uri=http://localhost:8080&response_type=code">
            <button class="login-btn">
				<img src="/assets/spotify-logo.svg" width=25 height=25>
				<span>Log In with Spotify</span>
			</button>
        </a>
    </div>

    <div class="sub">
        <div class="container">
            <h2>What's Playlister?</h2>
            <p>
                Playlister allows you to build unique playlists based on a very specific criteria
			</p>

            <ul>
                <li>
                    <strong>Energy, Danceability &amp; Mood</strong>
                    <small>Base your new playlist on how you're feeling</small>
                </li>
				<li>
                    <strong>Tempo, Key &amp; Modality</strong>
                    <small>Get technical with your search for the perfect playlist</small>
                </li>
				<li>
					<strong>Genres, Tracks and Artists</strong>
					<small>Refine your playlist with a selection of over 100 genres</small>
				</li>
            </ul>

        </div>
    </div>

	<div class="further">
		<div class="container">
			<h2>Who's Playlister for?</h2>
			<ul>
				<li>
					<strong>Runners</strong>
					<small>Keep the pace by making a playlist matching your tempo</small>
				</li>
				<li>
					<strong>DJs</strong>
					<small>Make a banging mix with the technical track searching</small>
				</li>
				<li>
					<strong>Anyone really</strong>
					<small>You know what you like. We can help you out.</small>
				</li>
			</ul>
		</div>
	</div>
</div>
